body {
    margin: 0;
    background-color: #282828;
}
.header{
    position: relative;
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid #191919;
    background-color: #373737;
    box-shadow: 1px 1px 5px 0 #191919;
}
h1{
    padding-left: 10px;
    color: #d9d9db;
    position: relative;
    font-size: 2.3em;
    font-family: Broadway;
    float: left;
    margin-right: 25px;
    cursor: default;
}
a{
    color: #d9d9db;
    position: relative;
    padding-top: 4vh;
    font-size: 1.5em;
    font-family: Broadway;
    float: left;
    margin-right: 25px;
    cursor: pointer;
}
.search_icon{
    float: right;
    margin-top: 3vh;
    margin-right: 30px;
}
.search_box{
    margin-bottom: 0;
    padding: 0.5rem 0.75rem 0.5rem 2.75rem;
    border: 1px solid #191919;
    border-radius: 2rem;
    background-color: #282828;
    box-shadow: 0 0 3px 0 #191919;
    padding:10px;
    width: 200px;
    font-size: 16px;
    color: #d9d9db;
}
.search{
    background-color: #282828;
    border-radius: .5em;
    padding: 10px;
    width: 102px;
    border: none;
    font-size: 16px;
    color: #d9d9db;
}
.login-window {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0.5rem;
    text-align: center;
}
.login-input{
    padding: 0.5rem 0.75rem 0.5rem 2.75rem;
    border: 1px solid #191919;
    background-color: #d9d9db;
    box-shadow: 0 0 3px 0 #191919;
    padding:10px;
    font-size: 16px;
    color: #373737;
    width: 500px;
    margin-bottom: 30px;
}
.submit{
    float: left;
}